<div id="canvas_div">
    <h4>canvas</h4>
    <div>
        <canvas id="canvas" width="1200" height="600" style="border : 1px solid"></canvas>
    </div>
    <% if(locals.canvasSetting) { %>
        <script type="text/javascript" src="/js/canvas/<%=canvasSetting%>"></script>
    <% } %>
    <% if(locals.canvasJSPath) { %>
        <script type="text/javascript" src="/js/canvas/<%=canvasJSPath%>"></script>
    <% } %>

    <link rel="stylesheet" href="/css/canvas/home.css" type="text/css">
</div>