<header>
    <div id="title">
        <h1><a href="/">HEADERRRRRRRRRRR</a></h1>
    </div>
    <nav>
        <div id="category">
            <ul>
                <% if(locals.categoryList){ %>
                    <% for(var i=0;i < categoryList.length;i++){ %>
                        <li><a href="/<%=categoryList[i]%>"><%=categoryList[i]%></a></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
        <div id="subMenu">
            <% if(locals.subList){ %>
                <%- include(subList) -%>
            <% } %>
        </div>
    </nav>
</header>