<section>
    <div class="contentBox" id="contentBox1">
        <p>들어오긴 하는데 뭐하냐</p>
    </div>
    <div class="contentBox" id="contentBox2">
        <% if(locals.sectionPath){ %>
            <%- include(sectionPath) -%>
        <% } %>
    </div>
    <div class="contentBox" id="contentBox3">
        
    </div>
</section>