<div>
    <% if(locals.memoListData){ %>
        <ul>
            <% for(var i=0;i < memoListData.length;i++){ %>
                <li><a href="/memo/update/<%=memoListData[i].no%>"><%=memoListData[i].title%></a></li>
            <% } %>
        </ul>
    <% } %>
</div>