<div id="canvas_div">
    <h4>canvas</h4>
    <div>
        <canvas id="canvas1" width="600px" height="300px"></canvas>
    </div>
    <p>뭐하지?</p>
    <script type="text/javascript" src="/js/canvas/home.js"></script>
    <link rel="stylesheet" href="/css/canvas/home.css" type="text/css">
</div>